* {
    box-sizing: border-box;
    user-select: none;
}

.maze {
    margin: auto;
    margin-top: 120px;
    width: 400px;
    height: auto;
}

.block {
    border: solid 4px black;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: -2px;
}

.block.open-up {
    border-top-color: transparent;
}

.block.open-down {
    border-bottom-color: transparent;
}

.block.open-left {
    border-left-color: transparent;
}

.block.open-right {
    border-right-color: transparent;
}

.finish {
    background-color: red;
}

.start {
    background-color: green;
}

.up {
    height: 40px;
    width: 40px;
    font-size: xx-large;
    margin-top: 40px;
}

.down {
    height: 40px;
    width: 40px;
    font-size: x-large;
}

.left {
    height: 40px;
    width: 40px;
    font-size: x-large;
    margin-right: 30px;
}

.right {
    height: 40px;
    width: 40px;
    font-size: x-large;
    margin-left: 30px;
}

.button.container {
    /* margin: auto; */
    text-align: center;
}

.player {
    height: 16px;
    width: 16px;
    background-color: black;
    border: 5px solid black;
    border-radius: 8px;
    position: relative;
    left: 13px;
    top: 13px;
}

.player.moving-down {
    transform: translateY(50px);
    transition: all 150ms ease-in-out;
}

.player.moving-right {
    transform: translateX(50px);
    transition: all 150ms ease-in-out;
}

.player.moving-left {
    transform: translateX(-50px);
    transition: all 150ms ease-in-out;
}

.player.moving-up {
    transform: translateY(-50px);
    transition: all 150ms ease-in-out;
}

.reset-button-container {
    text-align: center;
}

.reset {
    display: none;
    margin-top: 10px;
}